body {background-color:#BFD3F8;
      font-family:Arial;
     }
h1 {color:#000C1C;
    text-align:center;
   }
section {background-color:white;
        width:70%;
        margin:auto;
        padding:40px;
        border-radius:15px;
        }
img {width:100%;
     border-radius:10px;
    }
